body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("IMG/capa\ god.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
header {
    background-color: rgb(0, 0, 0));
    color: white;
    padding: 20px;
    text-align: center;
}
h1
{color: #000000;
width: 100%;
text-align: center;
text-decoration: ;
}
.capa {
   width:100%; 
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para as seções */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

